.button {
  padding: 19px 54px;
  border-radius: 13px;
  background-color: $main-color;
  @include text-style(1.8rem, 700, $white-color);
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 1.4rem;
  }

  transition: all .1s;

  &:hover {
    box-shadow: 0 1px 10px 2px #FF7916;
  }
}