.card-box {

  $e: &;

  width: 272px;
  height: 424px;
  border-radius: 18px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 20px 30px rgba(210, 210, 210, 0.2);


  &--horizontal {
    display: flex;
    align-items: flex-start;
    width: 469px;
    height: 160px;
    box-shadow: 0 0 30px 20px rgba(210, 210, 210, 0.2);

    #{$e}__info {
      height: 100%;
      padding: 15px 20px;
    }

    #{$e}__row {
      margin-bottom: 0;
    }
  }

  &__img {

  }

  &__info {
    padding: 25px 25px 20px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    @include text-style(1.8rem, 700, $accent-color);
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__text {
    @include text-style(1.4rem, 400, #000000);
    line-height: 16px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__price {
    @include text-style(2.4rem, 700, $accent-color);
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__btn {
    @include text-style(2.2rem, 600, #f2f2f2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: $main-color;


    &[disabled] {
      background-color: #DFDFDF;
      color: $main-color;
    }
  }

  &__count {
    @include text-style(2.2rem, 600, #000000);
    margin: 0 15px;
  }

  &__cart-btn {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 35px;
    background-color: $white-color;
    border-radius: 6px;
    border: 1px solid $main-color;
    @include text-style(1.4rem, 700, $main-color);

    transition: all .1s;

    &:hover {
      background-color: $main-color;
      color: $white-color;
    }
  }

  @include respond(phone) {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 145px;
    box-shadow: 0 0 30px 20px rgba(210, 210, 210, 0.2);

    &--horizontal {
      height: 81px;

      #{$e}__img {
        width: 84px;
        height: 82px;
      }

      #{$e}__info {
        padding: 12px 20px;
        width: 100%;
      }

      #{$e}__name {
        margin-bottom: 0;
      }

      #{$e}__text {
        display: none;
      }
    }

    &__img {
      width: 150px;
      height: 146px;
    }

    &__info {
      height: 100%;
      padding: 15px 20px;
    }

    &__row {
      margin-bottom: 0;
    }

    &__name {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 1.2rem;
      line-height: 14px;
    }

    &__price {
      font-size: 1.8rem;
    }

    &__btn {
      font-size: 1.8rem;
      width: 22px;
      height: 22px;
    }

    &__count {
      font-size: 1.8rem;
      margin: 0 10px;
    }

    &__cart-btn {
      display: none;
    }
  }
}