.input-box {

  $e: &;

  &__label {
    display: block;
    @include text-style(2.4rem, 700, $main-color);
    margin-bottom: 20px;

    &--disabled {
      color: #DFDFDF;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  &__input {
    width: 100%;
    height: 48px;
    background-color: $white-color;
    padding: 0 15px;
    border-radius: 13px;
    border: 1px solid #DFDFDF;

    @include text-style(1.4rem, 600, #000000);

    &:focus {
      border-color: $main-color;
    }

    &[disabled] {
      color: #DFDFDF;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__radio {
    display: none;

    &:checked ~ #{$e}__custom-radio {
      background-color: $main-color;
    }
  }

  &__custom-radio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $main-color;
    margin-right: 15px;
  }

  &__text {
    @include text-style(1.8rem, 600, $main-color);
  }

  &__textarea {
    width: 100%;
    height: 136px;
    border-radius: 13px;
    border: 1px solid #DFDFDF;
    padding: 15px;
    resize: none;
    @include text-style(1.4rem, 600, #000000);

    &:focus {
      border-color: $main-color;
    }
  }

  @include respond(phone) {
    &__label {
      font-size: 1.8rem;
    }

    &__group {
      display: block;

      & > * {
        &:nth-child(3) {
          margin-top: 40px !important;
        }
      }
    }

    &__input {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__row {
      margin-bottom: 20px;
    }
  }
}