.order-box {

  padding-top: 140px;
  padding-bottom: 100px;
  position: relative;

  &__container {
    @extend %container;
  }

  &__heading {
    @include text-style(7.2rem, 700, $main-color);
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__box {
    padding: 40px 0 40px 70px;
    border-radius: 18px;
    box-shadow: 0 1px 30px 10px rgba(210, 210, 210, 0.4);
    background-color: $white-color;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }


  &__personal-info {
    width: 440px;
    margin-right: 70px;
  }

  &__input-box {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__bottom {
    padding-right: 70px;
  }

  &__title {
    @include text-style(2.4rem, 700, $main-color);
    margin-bottom: 20px;
    padding-left: 35px;
  }

  &__list {
    padding-left: 35px;
    padding-right: 70px;
    overflow-y: auto;
    max-height: 544px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__price {
    @include text-style(2.4rem, 700, $main-color);
    margin-bottom: 40px;
  }

  &__btn {
    width: 100%;
    padding: 19px 20px;
    @include text-style(1.8rem, 700, $white-color);
    border-radius: 13px;
    background-color: $main-color;

    &--bottom {
      display: none;
    }

    transition: all .1s;

    &:hover {
      box-shadow: 0 1px 10px 2px #FF7916;
    }
  }

  &__wave {
    position: absolute;
    bottom: -92px;
    left: 0;
    width: 100%;
  }

  @include respond(tab-land) {
    &__wave {
      bottom: -65px;
    }

    &__row {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__list {
      padding-right: 35px;
    }

    &__bottom {
      padding: 0 35px;
    }

    &__btn {
      &--top {
        display: none;
      }

      &--bottom {
        display: block;
      }
    }

    &__price {
      margin-bottom: 0;
    }

    &__details {
      margin-bottom: 50px;
    }

    &__personal-info {
      margin-right: 0;
      width: 540px;
    }
  }

  @include respond(phone) {
    padding-top: 110px;

    &__wave {
      transform: scale(3);
      bottom: -30px;
    }

    &__heading {
      font-size: 3.4rem;
      line-height: 41px;
      margin-bottom: 40px;
    }

    &__box {
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: $white-color;
    }

    &__top {
      margin-bottom: 30px;
    }

    &__title {
      padding-left: 0;
    }

    &__list {
      padding: 0;
      max-height: 285px;
    }

    &__details {
      width: 100%;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }

    &__bottom {
      padding: 0;
    }

    &__personal-info {
      width: 100%;
    }
  }
}