.welcome-section {
  background-image: url("../img/welcome-section-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &__container {
    @extend %container;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  &__heading {
    @include text-style(7.2rem, 700, $white-color);
    line-height: 94px;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
      color: $accent-color;
    }
  }

  &__text {
    @include text-style(1.8rem, 500, $white-color);
    line-height: 21px;
    margin-bottom: 40px;
  }

  &__btn {

  }

  @include respond(phone) {
    background-image: url("../img/welcome-section-sm-bg.svg");
    background-position: center;

    &__info {
      padding-top: 80px;
    }

    &__heading {
      font-size: 3.4rem;
      line-height: 44px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 16px;
      margin-bottom: 300px;
    }

    &__btn {
      width: 100%;
    }
  }
}