@import "nullstyle.scss";

// ../fonts
@import "./fonts/fonts.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/welcome-section";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/sales";
@import "blocks/menu";
@import "blocks/card-box";
@import "blocks/footer";
@import "blocks/cart";
@import "blocks/order-box";
@import "blocks/input-box";
@import "blocks/alert";
@import "blocks/side-menu";

html, body {
    font-size: 62.5%;
    font-family: $base-font;
    //scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: visible;
}

img {
    max-width: 100%;
    height: auto;
}